a {
  text-decoration: none;
  color: grey;
}

.herom {
  display: flex;
}

.icon > button {
  background-color: transparent;
}

.icon > button i {
  margin-inline: auto;
}

.divfooter {
  margin-inline: 20%;

  height: 100%;
}

.divfooter ul {
  margin: 0;
  padding: 0;
}

.divfooter ul li {
  display: inline-block;
  margin: 0;
}

footer button {
  background-color: transparent;
  font-size: 0.6rem;
  color: grey;
  border: 1px grey;
}

footer div a,
p {
  font-size: 0.6rem;
  color: grey;
}

.laterale {
  margin-inline: auto;
  padding-inline: 30%;
}

.col-12 {
  padding: 0;
}
